<div class="grid gap-4">
	<div
		class="flex flex-col gap-4 rounded-[var(--radius-card)] border border-[var(--c-border)] bg-[var(--c-bg-secondary)] p-5 shadow-[var(--shadow-sm)] sm:p-4"
	>
		<form
			(submit)="wFormSubmit(); $event.preventDefault()"
			class="flex flex-col gap-3"
		>
			<div>
				<winput
					type="text"
					wClass="w-full"
					[label]="translateService.translate('Ім\'я')()"
					[placeholder]="translateService.translate('Введіть ім\'я...')()"
					[formField]="clientForm.name"
				/>
			</div>

			<div>
				<winput
					type="email"
					wClass="w-full"
					[label]="translateService.translate('Email')()"
					[placeholder]="translateService.translate('Введіть email...')()"
					[formField]="clientForm.email"
				/>
			</div>

			<div>
				<winput
					type="tel"
					wClass="w-full"
					[label]="translateService.translate('Телефон')()"
					[placeholder]="translateService.translate('Введіть телефон...')()"
					[formField]="clientForm.phone"
				/>
			</div>

			<winput
				type="textarea"
				wClass="w-full"
				[label]="translateService.translate('Опис')()"
				[placeholder]="translateService.translate('Введіть опис...')()"
				[formField]="clientForm.bio"
			/>

			<div class="mt-2 flex flex-wrap gap-2">
				<button wbutton [disabled]="isSubmitDisabled()">
					<span translate>Створити</span>
				</button>
			</div>
		</form>
	</div>
</div>
